/* ---- particles.js container ---- */

#particles {
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: #219a8d;
  color: red;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
